# -----------------------------
# VS Code
# -----------------------------
.vscode/
*.code-workspace

# -----------------------------
# Python (if you are using it)
# -----------------------------
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3

# -----------------------------
# Database files
# -----------------------------
*.db
*.sqlite
*.sqlite3

# -----------------------------
# Logs
# -----------------------------
*.log

# -----------------------------
# OS files
# -----------------------------
.DS_Store
Thumbs.db

# -----------------------------
# Environment / secrets
# -----------------------------
.env
venv/
env/